body {
  background-color: dodgerblue;
  color: white;
  font-family: sans-serif;
}

h1 {
  font-size: 4em;
}

input[type=text], label {
  margin-bottom: 8px;
}
input[type=number], label {
  margin-bottom: 8px;
}
